name: Build And Push Docker Image

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: set lower case owner name
        shell: pwsh
        run: |
            $owner = '${{ github.repository_owner }}'.ToLower()
            echo "OWNER_LC=$owner" >> $env:GITHUB_ENV
      
      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ghcr.io/${{ env.OWNER_LC }}/strapi-blodroed:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
